<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{site.title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" >

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V2QB8C5RFW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-V2QB8C5RFW');
  </script>

</head>

<body id="page-top">

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-2">{{site.title}}</h1>
      <h3 class="mb-5">
        <em>{{site.sub_title}}</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#contact">Make an offer</a>
    </div>
    <div class="overlay"></div>
  </header>

  <section class="content-section bg-primary text-white" id="contact">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Contact</h2>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="mt-5 container-fluid">
                <form action="https://formspree.io/f/{{site.formspree_id}}" method="POST">
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input required name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">      
                  </div>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input required name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea required name="message" class="form-control" id="message" rows="3"></textarea>
                  </div>
                  <input name="tag" type="hidden" value="{{site.formspree_tag}}">      
                  <button type="submit" class="btn btn-light mr-4 btn-xl" style="cursor:pointer">Send</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <!--footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#!">
            <i class="icon-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer-->

  <!-- Scroll to Top Button-->
  <!--a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a-->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>

  <!-- Custom scripts for this template -->
  <script src="assets/js/script.js"></script>

</body>

</html>

